<div class="page5">
    <div class="text">
        When a face is a felony...
    </div>
    <div class="images">
        <div class="image1">
            <div class="part1">
            <img src="../../assets/Artboard 1 1.png" class="img1">
        </div>
            <div class="text1">Non-Felony vs. <br>Felony Charge <br> <span class="span1">44% Decrease</span></div>
        </div>
        <div class="image1">
           
            <img src="../../assets/Artboard 1 copy 5.png" class="img2">
            <div class="text1">Full-Faced vs. Thin-<br>Faced<br> <span class="span2">23% Decrease</span></div>
        </div>
        <div class="image1">
         
            <img src="../../assets/Artboard 1 6.png" class="img3">
            <div class="text1">Well-Groomed vs.<br>Poorly Groomed<br> <span class="span3">24% Decrease</span></div>
        </div>
        <div class="image1">
           
            <img src="../../assets/Artboard 1 9.png" class="img4">
            <div class="text1">Non-Violent vs.Violent<br>Crime<br> <span class="span4">20% Decrease</span></div>
        </div>
    </div>
        <div class="final-text">Facial features can be the difference between detention and release,<br>showing potential impact beyond even the type of crime. </div>
    
</div>