.page5{
    width: 100%;
    margin: 5% 0;
}
.text{
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    color: #000000;
    margin:20px 25px;

}
body{
    background: #E5E5E5;
}

.images{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.image1{
    margin: 0px 25px;
    display: flex;
    flex-direction: column;

    /* background: url("../../assets/Ellipse 3.png");
    background-repeat: no-repeat;
    justify-content: center; */
}

.part1{
    height: 85px;
    width: 100%;
    background: url("../../assets/Ellipse 3.png") center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1{
    width: 63.5px;
    height: 75.86px;
}

.img1{
    width: 63.5px;
    height: 75.86px;
}

.img2{
    width: 68px;
    height: 60px;
}

.img3{
    width: 68px;
    height: 58px;
}

.img4{
    width: 80px;
    height: 70px;
}

.text1{
    height: 171px;
    width: 8vw;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5vw;
    text-align: center;
    letter-spacing: -0.25px;
    color: #000000;
}

.span1,.span2,.span3,.span4{
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.25px;
}

.text2{
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #000000;
}

.text3{
    font-family:  TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.25px; 
    color: #000000;
}

.text4{
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #000000;
}

.final-text{
    height: 87px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family:TradeGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    color: #000000;
}


@media only screen and (max-width: 500px) {
    .text{
        font-size: 6vw;
        text-align: center;
        margin: 10px 0px;
    }
    .text1{
        width: 100%;
        height: auto;
        font-size: 3vw;
    }
    .final-text{
        font-size: 4vw;
    }
    .images{
        flex-direction: column;
    }
}