<div class="page6">
   <div class="text">Why does this matter?</div> 
   <div class="box">
      <div class="box1">
      <img class="img1" src="../../assets/Rectangle 115.png">
      <div class="text1">Newly discovered facial<br>bias is causing <span class="highlight" style="font-weight:bold;">injustice.</span></div>
      </div>
      <div class="box1">
      <img class="img1" src="../../assets/Rectangle 115 (1).png">
      <div class="text1">We can help judges<br>counter it.</div>
      </div>
      <div class="box1">
      <img class="img1" src="../../assets/Rectangle 115 (2).png">
      <div class="text1">New policies could lead<br>to less biased decisions.</div>
      </div>
   </div>
   
</div>
<app-footer></app-footer>