<html>
<body>
<div class="page4">
    <!-- <img src="../../assets/Artboard 1 2.png" class="imgg"> -->
    <!-- <img src="../../assets/conny-schneider.jpg" class="imgg2"> -->
    
    <div class="face-container">
        <div class="ai-face-text">
            We needed a way to understand what the algorithm was seeing in a face.<br>So we built a facial transformation tool to 
            <span>communicate with the AI.</span>
        </div>
        <img src="../../assets/Artboard 1 2 crop.png" class="ai-face-img">
        <div class="ai-face-text">
            We exaggerated the facial features the algorithm noticed and then asked <br>study participants to name the difference between two transformed faces.
        </div>
    </div>

    <div class="facial-bias">
        <div class="facial-bias-text">
            <div class="facial-bias-text-header">
                Facial bias
            </div>
            <div class="facial-bias-text-content">
                We found that a gaunt thin face was<br>
                more than half asredictive as a<br>
                <span>previous felony.</span>
            </div>
            <div class="facial-bias-tect-learn-more">
                <div class="arrow">
                    <img src="../../assets/Vector.png">
                </div>
                <div class="link">
                    <a href="page2" style="
                    color: #000000;">Learn more about how we made these discoveries </a>
                </div>
            </div>
        </div>
        <div class="facial-bias-img">
            <div class="facial-bias-img-image">
                <img class="image" src="../../assets/{{folder}}/image_{{value}}.jpg">
                <div class="facial-bias-img-undertext">
                    Release Likelihood
                </div>
            </div>

            <div class="slider-container">
                <div class="percent">
                    {{probabilityvalue}}%
                </div>
                <div class="slider-div">
                    <div class="thin">
                        Thin
                    </div>
                    <ngx-slider class="slider"  [(value)]="value" [options]="options" (mouseup)="changeimage()" ></ngx-slider>
                    <div class="full">
                        Full
                    </div>
                </div>
                <button class="change" type="button" (click)="changefolder()"><div class="btn-name">Next Face</div></button>
            </div>
        </div>
    </div>
    <!-- <div class="facial-bias">
        Facial Bias   
    </div>
    <div class="sub-facial-bias">
        We found that a gaunt thin face was<br>
        more than half asredictive as a<br>
        <span style="font-weight:bold">previous felony.</span>

    </div>
    <div class="link">
        <a  class="link1" href="page2">
            Learn more about how we made these <br>discoveries 
        </a>
    </div>
    <div class="arrow">
        <img src="../../assets/Vector.png">
    </div>
    <div >
        <img class="image" src="../../assets/{{folder}}/image_{{value}}.jpg">
    </div>
    <div class="undertext">
        Release Likelihood
    </div>
    <div class="percent">
       {{probabilityvalue}}%
    </div>
    <div class="thin">
        Thin
    </div>
    <ngx-slider class="slider"  [(value)]="value" [options]="options" (mouseup)="changeimage()" ></ngx-slider>
    
    <div class="full">
        Full
    </div>
    <button class="change" type="button" (click)="changefolder()"><div class="btn-name">Next Face</div></button> -->
 
</div>
</body>
</html>
