.page4{
    width: 100%;
    height: auto;
}
body{
    background: #E5E5E5;
}

.slider{
    width: 50%;
    height: 8.67px;
    background: #7183A3;
    border-radius: 20px;
    margin: 0px;
}
.imgg{
    width: inherit;
    height:auto;
    z-index: 2;
}

.imgg2{
    opacity: 0.04;
    position: relative;
    z-index: 1;
    top: 100%;
    width: inherit;
    height:auto;
}

.face-container{
    width: auto;
    height: auto;
    margin: 25px;
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../../assets/conny-schneider.jpg");
    /* background: linear-gradient(rgba(255,255,255,.03), rgba(255,255,255,.03)), url(../../assets/conny-schneider.jpg); */
    
    /* background: url("../../assets/Artboard 1 2.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%; */
}

.ai-face-text{
    width: auto;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vw;
    /* line-height: 38px; */
    margin: 25px 25px 25px 25px;
    color: #000000;
}

.ai-face-text span{
    color: brown;
    font-weight: 700;
}

.ai-face-img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.text2{
    width: 1340px;
    height: 95px;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 38px;
    color: #000000;

}


.link{
    width: 483px;
    height: 62px;
    z-index: 10;
}  

.link1{
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 121.5%;
    letter-spacing: -0.025em;
    color: #000000;
} 
.arrow img{
    width: 3vw;
}
/* .arrow{
    position: absolute;
    top:1178px;
    left:84px;
}

.image{
    position: absolute;
    width: 286px;
    height: 357px;
    left: 908px;
    top: 927px;
} */

.facial-bias{
    /* width: auto;
    height: 357px;
    font-family:TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 61px;

    color: #000000; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 25px 0px;
    
}
.facial-bias-text{
    width: 45%;
    height: auto;
    margin: 25px;
    font-family: TradeGothic;
    /* font-style: normal;
    font-weight: 500; */
    color: #000000;
}
.facial-bias-text-header{
    font-size: 4vw;
    font-weight: bolder;
    margin: 10px;
}
.facial-bias-text-content{
    font-size: 2vw;
    margin: 25px 10px;
}
.facial-bias-text-content span{
    font-weight: bolder;
    color: rgb(103, 27, 27);
}
.facial-bias-tect-learn-more{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.facial-bias-tect-learn-more .link{
    height: auto;
    font-size: 1.5vw;
    font-weight: bold;
}

.facial-bias-img{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.facial-bias-img-image img{
    width: 100%;
    height: auto;
    margin: 25px 0px;
}
.facial-bias-img-undertext{
    font-family: TradeGothic;
    font-size: 2vw;
    font-weight: bold;
}
.facial-bias-img-image{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px;
}
.slider-div{
    width: 100%;
    margin: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* .sub-facial-bias{
    width: auto;
    height: 357px;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 38px;
    color: #000000;
} */

.undertext{
    width: 396px;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;

}

.percent{
    /* width: 396px; */
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
    line-height: 40px;
    text-align: center;
    color: #000000;

}

.thin{
    /* width: 85px; */
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 30px;
    /* identical to box height */
    margin: 0px 10px;
    text-align: center;
    color: #000000;
}

.full{
    /* width: 84.52px; */
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 30px;
    text-align: center;
    margin: 0px 10px;
    color: #000000;

}



.change{
    width: auto;
    padding: 15px;
    background-color: #6D83A6;
    border: none;
    outline: none;
}

.btn-name{
    width: 171px;
    height: 32px;
    cursor: pointer;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 31px;
    color: #FFFFFF;
}

.mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: green;
    border: solid 2px gray;
}

@media screen and (max-width: 768px) {
    .facial-bias{
        flex-direction: column;
    }
    .facial-bias-text{
        width: 90%;
        margin: auto;
    }
    .facial-bias-img{
        width: 90%;
        margin: auto;
    }
    .facial-bias-text-header{
        font-size: 6vw;
    }
    .facial-bias-text-content{
        font-size: 4vw;
    }
    .facial-bias-tect-learn-more .link{
        font-size: 3vw;
    }
    .arrow img{
        width: 6vw;
    }
    .thin, .full, .percent{
        font-size: 4vw;
    }
    .facial-bias-img-undertext{
        font-size: 4vw;
    }
}