.page3{
    width:100%;
    display: flex;
    flex-direction: column;
}
.mainbox{
    display: flex;
    flex-direction: row;
}
.main-text{
    width:50%;
    display: flex;
    flex-direction: column;
}
.text{
    width: 50%;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 4.5vw;
    margin:0 25px ;
    color: #000000;
}

body{
    background: #E5E5E5;
}

.sub-text{
    width: 660px;
    height: 165px;
    margin:0 25px ;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 500;
    font-size:2.5vw;
    color: #000000;
}

.image{
    width: 60%;
    height: 717px;
    left: 620px;
    top: 2400px;
}

.imgg{
    width: 100%;
    height:auto;
}

.text-2{
    width: 100%;
    height: 8vw;
    display: flex;
    flex-direction: row;
    background: #6D83A6;
    justify-content: center;
}



.blue-text{
    width: 100%;
    height: 105px;
    text-align: center;
    font-family:TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    color: #000000;
}

.blue-text span{
    color:white;box-sizing: border-box;
    width: 10vw;
    height:4vw;
    background: rgba(0, 0, 0, 0.5);
    border: 5px solid #000000;
}


@media screen and (max-width: 1096px) {
    .mainbox{
        flex-direction: column;
    }
    .main-text{
        width:100%;
        text-align: center;
    }
    .text{
        width: auto;
        font-size: 7vw;
    }
    .sub-text{
        width: auto;
        font-size: 5vw;
    }
    .image{
        width: auto;
        height: auto;
        margin: 25px;
    }
    .image img{
        margin: 5px auto;
    }
}
   