<div class="page3">
    <div class="text">
        What's in a face?
    </div>
    <div class="sub-text">
        Common facial features like skin <br>
        color, gender presentation, and<br>aging effects did not explain the<br>judge's decision. Judges, and the<br>algorithm, were seeing something<br>else.
    </div>
    <div class="image">
        <img src="../../assets/pie chart algorithm weights.png" class="imgg">
    </div>
    <div class="text-2">

        <div class="blue-text">AI is a <span style="color:white;">black box</span></div>
        <span class="black-box"></span>
    </div>
</div>
