.page2{
  margin:50px 0;
  width: 100%;
  height: 50vh;
  /* opacity: 0.3; */
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) ,url("../../assets/facevector.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body{
background: #E5E5E5;
}

.image{
  width: inherit;
  height:auto;
}

.empty{
  width:50%;
  margin:25px;
}
.percent{
  font-family: TradeGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 10vw;
  text-transform: uppercase;
  color:black;
  padding:0%;

}
.text{
  display: flex;
  flex-direction: column;

}
.t1{

  font-family: TradeGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  text-transform: uppercase;
  color: #000000;
}

.sub-text{
  width: 100%;
  font-family:TradeGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  color: #000000;
}

@media screen and (max-width: 650px){
  /* .percent{
    font-size: 5vw;
  }
  .t1{
    font-size: 2.5vw;
  } */
  .empty{
    display: none;
  }

  .percent{
    font-size: 5vw;
  }

  .t1{
    font-size: 2.5vw;
  }

  .sub-text{
    font-size: 1vw;
  }

 .page2{
  height: 20vh;
  width: 100%;
  background-size: cover;
 }
}