<div class="page1">
<div class="text">
    <div class="main-text">
        Who will the <br class="breakpoint"> judge release?
    </div>

    <div class="sub-text">
        What impacts a judge's decision?<br>We built an algorithm to find out.
    </div>
</div>
<div class="box">
    <div class="box-1">
        <div class="box-11">
            <img class="unknown" src="../../assets/Untitled_Artwork 6 6.png">
        </div>
        <div class="box-12">
            <div class="decision-1">Judge Decision: <span style="color:BROWN;">RELEASED</span></div>
        </div>
        <div class="box-13">
            <div class="info-1">Arrest Type:Homicide <br>Age:39<br>Prior Convictions:None</div>
        </div>  
    </div>
    <div class="box-1">
        <div class="box-11">
            <img class="unknown" src="../../assets/Untitled_Artwork 6 7.png">
        </div>
        <div class="box-12">
            <div class="decision-1">Judge Decision:<span style="color:BROWN;">DETAINED</span></div>
        </div>
        <div class="box-13">

            <div class="info-1">Arrest Type:Homicide <br>Age:39<br>Prior Convictions:None</div>
        </div>
</div>
</div>