.page1{
    width:100%;
    display: flex;
    flex-direction: row;
}
.text{
    width:50%;
    margin:25px;
}
.main-text{
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    /* line-height: 61px; */
    color: #000000;
    margin:30px 0;
}

body{
    background: #E5E5E5;
}
.sub-text{
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    color: #000000;
    
}

.box{
    display: flex;
    flex-direction: row;
}
.box-1{
    width: 323.81px;
    height: 434px;
    background: #000000;
    border-radius: 20px;
    margin:0 15px;
}

.box-11{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 247px;
    margin: 5px auto;
    background: #FFFFFF;
    border-radius: 16px;
}

.box-12{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 95%;
    height: 42px;
    background: #FFFFFF;
    border-radius: 10px;
}

.box-13{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 95%;
    height: 111px;
    background: #FFFFFF;
    border-radius: 10px;
}
.decision-1{
    width: 95%;
    height: 26px;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 120%;
    /* or 22px */
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center;
    /* Inside auto layout */

}

.info-1{

    width: 95%;
    height: 69px;
    font-family: TradeGothic;
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    line-height: 128.2%;
    color: #000000;
    text-align: center;
    /* Inside auto layout */

}


.unknown{
    height: auto;
}

/* .box-2{

position: absolute;
width: 324.76px;
height: 432.03px;
left: 1065.24px;
top: 1337px;
background: #000000;
border-radius: 20px;
}

.box-21{
width: 308.76px;
height: 247px;

background: #FFFFFF;
border-radius: 16px;
}

.unknown-2{
position: absolute;
width: 231px;
height: 288px;
left: 53.76px;
top: -23px;

}





.box-22{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
position: absolute;
width: 307.81px;
height: 42px;
left: 8px;
top: 265px;
background: #FFFFFF;
border-radius: 10px;
}
    
.decision-2{
position:absolute;
left:25px;
right: 22.88px;
top:8px;
bottom:8px;
width: 263px;
height: 26px;
font-family: TradeGothic;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;

letter-spacing: -0.02em;
color: #000000;

flex: none;
order: 0;
flex-grow: 0;
    
}





.box-23{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;


position: absolute;
width: 307.81px;
height: 111px;
left: 8px;
top: 317px;

background: #FFFFFF;
border-radius: 10px;
}

.info-2{
position: absolute;
width: 218px;
height: 69px;
left:44.91px;
font-family: TradeGothic;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 128.2%;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
} */

@media screen and (max-width: 1096px) {
    .page1{
        flex-direction: column;
    }
    .text{
        width: 98%;
        margin: 0px;
        text-align: center;
    }
    .box{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 668px) {
    .main-text{
        font-size: 8vw;
    }
    .sub-text{
        font-size: 4vw;
    }
    .decision-1{
        font-size: 3vw;
    }
    .info-1{
        font-size: 3vw;
    }
    .decision-2{
        font-size: 3vw;
    }
    .info-2{
        font-size: 3vw;
    }
    .box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-1{
        margin: 10px 0px;
    }
}