<div class="page1">
    Who will the <br> judge release?
</div>
<div class="sub-text">
    What impacts a judge's decision? We built an algorithm to find out.
</div>
<div class="box-1">
    <div class="box-11">
        <img class="unknown" src="../../assets/Untitled_Artwork 6 6.png">
    </div>
    <div class="box-12">
        <div class="decision-1">Judge Decision: <span style="color:BROWN;">RELEASED</span></div>
    </div>
    <div class="box-13">

        <div class="info-1">Arrest Type:Homicide <br>Age:39<br>Prior Convictions:None</div>
    </div>
    
</div>
<div class="box-2">
    <div class="box-21">
        <img class="unknown-2" src="../../assets/Untitled_Artwork 6 7.png">
    </div>
    <div class="box-22">
        <div class="decision-2">Judge Decision:<span style="color:BROWN;">DETAINED</span></div>
    </div>
    <div class="box-23">

        <div class="info-2">Arrest Type:Homicide <br>Age:39<br>Prior Convictions:None</div>
    </div>
</div>